body {

    font-family: Arial, sans-serif;

    background-color: #ffffff;

}

h1 {

    color: #38b4bf;

}
body {

    font-family: Arial, sans-serif;

    background-color: #ffffff;

}

h2 {

    color: #38b4bf;

}